﻿
@{
    ViewData["Title"] = "Login";
}
<script type="text/javascript" src="~/lib/jquery/Login.js"></script>
<body style="display: flex; flex-direction: column">
    <div class="untitled-page untitled-page-block layout">
      <div class="untitled-page-block1 layout">
        <div
          style="--src:url(/assets/25122080b31382b96770d6604d9690e5.png)"
          class="untitled-page-decorator layout"
        ></div>
        <div class="untitled-page-flex layout">
          <div style="--src:url(/assets/c2ca923383df055060bf87c2d8de7b72.png)" class="untitled-page-image layout"></div>
          <h1 class="untitled-page-hero-title layout">Đăng nhập</h1>
          <h5 class="untitled-page-highlights1 layout">Tên đăng nhập</h5>
          <input type="text" id="username" class="untitled-page-box1 layout"/>
          <h5 class="untitled-page-highlights1 layout1">Mật khẩu</h5>
          <input type="text" id="password" class="untitled-page-box1 layout1"/>
          <button class="untitled-page-block2 layout" id="submit" type="button"><h5 class="untitled-page-highlights layout">ĐĂNG NHẬP</h5></button>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      AOS.init();
    </script>
  </body>
