/* This source code is exported from pxCode, you can get more document from https://www.pxcode.io */
.untitled-page-block {
  display: flex;
  flex-direction: column;
  background-color: rgb(240, 240, 240);
}
.untitled-page-block.layout {
  position: relative;
  overflow: hidden;
  min-height: 1233px;
  flex-shrink: 0;
}
.untitled-page-block1 {
  display: flex;
  flex-direction: column;
}
.untitled-page-block1.layout {
  position: relative;
  overflow: hidden;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 48.54%;
  margin: 291px auto;
}
.untitled-page-decorator {
  background: var(--src) center center/contain no-repeat;
}
.untitled-page-decorator.layout {
  position: absolute;
  top: -55px;
  height: 767px;
  width: 815px;
  right: -58px;
}
.untitled-page-flex {
  display: flex;
  flex-direction: column;
}
.untitled-page-flex.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 79.69%;
  margin: 46px auto;
}
.untitled-page-image {
  background: var(--src) center center/contain no-repeat;
}
.untitled-page-image.layout {
  position: relative;
  height: 109px;
  width: 63.73%;
  margin: 0px auto;
}
.untitled-page-hero-title {
  display: flex;
  justify-content: center;
  font: 700 48px/1.2 "Roboto", Helvetica, Arial, serif;
  color: rgb(13, 71, 161);
  text-align: center;
  letter-spacing: 0px;
}
.untitled-page-hero-title.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 27.11%;
  margin: 18px auto 0px;
}
.untitled-page-highlights1 {
  font: 16px/1.2 "Roboto", Helvetica, Arial, serif;
  color: rgb(13, 71, 161);
  letter-spacing: 0px;
}
.untitled-page-highlights1.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 37px 8px 0px;
}
.untitled-page-box1 {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(189, 189, 189);
}
.untitled-page-box1.layout {
  position: relative;
  height: 48px;
  margin: 14px 4px 0px;
}
.untitled-page-highlights1.layout1 {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 31px 8px 0px;
}
.untitled-page-box1.layout1 {
  position: relative;
  height: 48px;
  margin: 17px 0px 0px 8px;
}
.untitled-page-block2 {
  display: flex;
  flex-direction: column;
  background-color: rgb(33, 150, 243);
  border-radius: 8px 8px 8px 8px;
}
.untitled-page-block2.layout {
  position: relative;
  overflow: hidden;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 35.91%;
  margin: 71px auto 20px;
}
.untitled-page-highlights {
  display: flex;
  justify-content: center;
  font: 500 16px/1.2 "Roboto", Helvetica, Arial, serif;
  color: rgb(255, 255, 255);
  text-align: center;
  letter-spacing: 0px;
}
.untitled-page-highlights.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 14px 0px;
}